/* *************************
 * DEMO 2
 ***************************/

/* START DEMO */
#wrapper {
	width: 50%;
	margin:auto;
	border:1px solid black;
}
header {
	height:100px;
	background-color: red;
}
article {
	padding:1%;
	float:left;
	height: 200px;
	width:73%;
	background-color: yellow;
}
aside {
	margin-left:1%;
	padding:1%;
	float:right;
	height: 200px;
	width:22%;
	background-color: silver;
}
footer {
	clear:both;
}