/* *************************
 * GENERAL STUFF
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
   margin:0; 
    padding:0; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
/* START DEMO */
body {
	background-color: rgb(220,200,200);
	background-image:url(../images/bgnav.gif);
	background-repeat: repeat-x;
}
nav {
	width:600px;
	margin:auto;
}
nav li {
	display: inline;
}
nav a {
	color:white;
	font-family: 'Yesteryear', cursive;
	font-size:20px;
	width:18%;
	display:inline-block;
	height:74px;
	line-height: 74px;
	text-decoration: none;
	text-align:center;
}
a#current {
	background-image: url(../images/bgnav_current.gif);
}
nav a:hover {
	background-image: url(../images/bgnav_current.gif);
}