/* *************************
 * GENERAL STUFF
 ***************************/
 /* a little resetting of the browswer stylesheet */
 * {
 	margin:0;
 	padding:0;
 }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	font-family: helvetica, sans-serif;
	font-size: 12px;
}
p {
	margin: 1em 0;
	line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Syncopate;
	margin: 1em 0;
	letter-spacing: 0.1em;
}
h1 {
	text-transform: uppercase;
}
img {
	float:right;
	margin: 0 0 1em 1em;
}

a {
	color: rgb(255,80,0);
	text-decoration: none;
}
a:hover{
	color: tomato;
}
a:visited {
	color: grey;
}

/* *************************
 * LAYOUT
 ***************************/
body {
	background-color: rgb(180,180,180);
}
 div#wrapper {
 	margin:1em;
 	background-color: white;
	width:80%;
	margin:auto;
	padding: 1%;
	box-shadow: 0 0 10px 2px rgb(80,80,80);
	border-radius: 4px;
 }

nav ul {
	list-style: none;

}
nav li {
	display:inline;
}
nav a {
	border: 1px solid grey;
	border-radius: 4px;
	line-height: 3em;
	width:24%;
	display:inline-block;
	text-align: center;
}