/* *************************
 * DEMO 1
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
    margin:0;
    padding:0;
}
body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* START DEMO */
nav ul {
	list-style-type: none;
}
nav li {
	display:inline;
}
nav a{
	color:black;
	text-decoration: none;
	display:inline-block;
	width:18%;
	text-align:center;
}
a#current {
	color:rgb(0,215,215);
}
nav a:visited {
	color:rgb(180,180,180);
}
nav a:hover {
	color:rgb(0,215,215);
}
nav li+li:before {
	content: "/";
}
