* {
    margin: 0px; padding: 0px;
}
body {
    font-family: 'Cantora One';
    background: url(glitchyMe.png);
    color: grey;
}

div#wrapper {
    margin: 1em auto;
    padding: 1em;
    width: 50em;
    background: rgba(255,255,255,0.9);
    border: 1em solid grey;
    border-radius: 1em;
}

header {
    background: grey;
    border-radius: 1em 1em 1em 0;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: white;
}
nav {
    margin: 1em 0;
    height: 3em;
}
nav ol>li {
    display: inline;
}

nav ol>li>ul {
    display: none;
}

nav ol>li>a {
    width: 15em;
    height: 3em;
    line-height: 3em;
    text-decoration: none;
    padding-left: 1em;
    display: block;
    float: left;
    margin-right: 2em;
    background: grey;
    border-radius: 1em 1em 1em 0;
    color: white;
}

nav ol>li>a:hover {
    background: black;
}

main {
    font-family: Helvetica;
    color: black;
}

main h1 {
    text-align: center;

}

main blockquote {
    width: 30em;
    font-style: italic;
    margin: 1em auto;
}

main blockquote:before,
main blockquote:after {
    content: '"';
    font-size: 1.2em;
}

main p {
    width: 24em;
    margin: 1em 0;
    text-align: justify;
    line-height: 1.5em;
    float: left;
}

main p+p {
    float: right;
}

main p:first-letter {
    color: crimson;
    font-weight: bold;
    font-size: 2em;
}

footer {
    clear: both;
    margin: 1em 0;
}

footer p {
    margin-top: 2em;
    text-align: center;
}

footer cite {
    display: block;
    color: black;
}












