* {
    margin: 0px; padding: 0px;
}
body {
    margin: 0px; padding: 0px;
    font-family: Helvetica, sans-serif;
    background: #c2c2c2;
    color: #333333;
    background: url(glitchyMe.png);
}

div#wrapper {
   width: 50em;
   margin: 0 auto;
   background: #ffffff;
}

header {
    background: crimson;
    color: white;
    height: 5em;
    line-height: 5em;
}

header>h1 {
    padding-left: 1em;
    font-size: 3em;
}

nav {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    height: 3em;
}
nav ol li {
    text-align: center;
    display: inline;
}
nav ul>li {
    display: none;
}
nav ol li a {
    margin-left: 3em;
    float: left;
    color: white;
    background: crimson;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3em;
    text-decoration: none;
    border-radius: .8em;
}
nav ol li a:hover {
    background: orange;
    color: white;
}

main {
    padding: 0 1em;
    color: crimson;
}
main blockquote {
    font-style: italic;
    width: 30em;
    margin: 1em auto;
}
main blockquote:before {
    content: "\"";
}
main blockquote:after {
    content: "\"";
}
main blockquote cite {
    opacity: .4;
}
main p {
    margin: 1em 0;
    text-align: justify;
    width: 23em;
    float: left;
}

main p+p {
    float: right;
}
main p:first-letter {

    font-size: 2em;
    font-weight: bold;
}

footer {
    height: 2em;
    line-height: 2em;
    margin: 1em;
    text-align: center;
    color: crimson;
    opacity: .4;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, serif;
}



