/* *************************
 * GENERAL STUFF
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
    margin:0;
    padding:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	font-family:helvetica, sans-serif;
	font-size:11px;
}
header h1 {
	/* TODO www.fontsquirrel.com of www.google.com/webfonts */
}

/* *************************
 * LAYOUT
 ***************************/
div#wrapper {
	width:80%;
	margin:auto;
}
