/* *************************
 * GENERAL STUFF
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
    margin:0;
    padding:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	font-family:helvetica, sans-serif;
	font-size:12px;
}
p {
	margin: 1em 0;
	line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Syncopate;
	margin: 1em 0;
	font-weight: normal;
	letter-spacing:0.2em;
}
header h1 {
	font-size: 32px;
	text-transform: uppercase;
}
ul {
	margin: 0 0 0 2em;
}
img {
	float:right;
	margin:0 0 1em 1em;

}
a {
	color:rgb(255,120,0);
	text-decoration: none;
}
a:hover {
	color:rgb(255,80,0);
}
a:visited {
	color:rgb(200,200,200);
}

/* *************************
 * LAYOUT
 ***************************/
body {
	background-color: rgb(180,180,180)
}
div#wrapper {
	min-width:400px;
	width:80%;
	max-width:960px;
	margin: 1em auto;
	padding:1%;
	background-color:white;
	box-shadow: 0 0 10px 2px rgb(80,80,80);
	border-radius: 4px;
}
nav {
	width:20%;
	padding-top:1.5em;
	float:left;
}
div#main-content {
	width:73%;
	float:left;
	margin-left:1em;
}
footer {
	clear:both;
	font-size:10px;
	line-height:3em;
	border:1px solid rgb(180,180,180);
	border-radius: 4px;
	text-align: center;
}
/* *************************
 * NAVIGATION
 ***************************/
nav ul {
	list-style-type: none;
	margin:0;
}
nav ul li a {
	padding:1em;
	margin-bottom:1em;
	display:block;
	border:1px solid rgb(180,180,180);
	border-radius: 4px;
}
