/* Een koloms demo */

body {
	background: #999;

	background-image: -webkit-linear-gradient(#999, #231f20);
	/* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -o-linear-gradient(#999, #231f20);
	/* Chrome 26, Firefox 16+, IE 10+, Opera */
	background-image: linear-gradient(#999, #231f20);

	font-family: Garamond, 'Times New Roman', serif;
	font-color: #231f20;
	line-height: 1.6em;
}	

header {
	background: url(tribal.png) top center no-repeat;
	padding-top: 140px;
	text-align: center;
	width: 50em;
	margin: 0 auto;
}

header blockquote {
	text-align: justify;
	font-style: italic;
	font-size: 1.4em;
	margin: 0;
}

nav {
	width: 50em;
	margin: 0 auto;
}
nav ul {
	padding: 0;
	
	/* Chrome, Safari 3 */
	-webkit-column-count: 3;
	-webkit-column-gap: 2em;

	/* Firefox 3.5+ */
	-moz-column-count: 3;     
	-moz-column-gap: 2em;
	
	/* Opera 11+ */
	column-count: 3;          
	column-gap: 2em;

    text-align: center;
}
nav ul li {
	display: inline;
	
}
nav ul li a {
	display: inline-block;
	width: 100%;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background: #666;
	color: #999;
	text-decoration: none;
}
nav ul li a:hover {
	background: #231f20;
	color: #fff;
}
nav ul li a.active {
	text-decoration: underline;
}

main {
	width: 50em;
	margin: 0 auto;
}

main article {
	text-align: justify;
	font-size: 1.2em;

	/* Chrome, Safari 3 */
	-webkit-column-count: 3;
	-webkit-column-gap: 2em;

	/* Firefox 3.5+ */
	-moz-column-count: 3;     
	-moz-column-gap: 2em;
	
	/* Opera 11+ */
	column-count: 3;          
	column-gap: 2em;
}

main img {
	width: 100%;
}

footer {
	height: 863px;
	text-align: center;
	background: url(cthulhuMeal.png) center 100px no-repeat;
}

footer ul li {
	list-style: none;	
}
footer ul li a {
	color: #231f20;
}