/**
* Stylesheet voorbeeld 4
*
*/

div#menu ul ul {
	display: none;
	position: absolute;
	margin-top: 30px;
	z-index: 99;
}

div#menu ul ul#sub2 {
	margin-left: 175px;
}

div#menu ul ul li a {
	clear: both;
	background: #ffef4d;
}