/* *************************
 * DEMO 3
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
    margin:0;
    padding:0;
}
body {
	background-color:rgb(200,200,200);
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
	
/* *************************
 * LAYOUT
 ***************************/ 
#wrapper {
	background-color: white;
	width:80%;
	margin: auto;
	max-width:640px;
	padding:1em;
	border-top:3px solid rgb(0,215,215);
	box-shadow: 0 0 10px 2px rgb(80,80,80);
	overflow:hidden;
}
nav {
	float:right;
	min-width: 400px;
}
article {
	border-top: 1px solid black;
	padding-top:1em;
	width:75%;
	float:right;
	 -webkit-column-count: 3;  -webkit-column-gap: 15px; /* Chrome, Safari 3 */
     -moz-column-count: 3;     -moz-column-gap: 15px; /* Firefox 3.5+ */
          column-count: 3;          column-gap: 15px; /* Opera 11+ */

}
aside {
	width:23%;
	float:left;
	border-top: 1px solid black;
	padding-top: 2.5em;
}
/* *************************
 * NAV
 ***************************/

nav ul {
	list-style-type: none;
}
nav li {
	display: inline;
}
nav a {
	color:black;
	text-decoration: none;
	display:inline-block;
	width:18%;
	text-align: center;
}
a#current {
	color: rgb(0,215,215);
}
nav a:visited {
	color: rgb(180,180,180);
}
nav a:hover {
	color: rgb(0,215,215);
}
nav li+li:before {
	content: "/";
}







