/**
* Stylesheet tbv de voorbeelden in het hoorcollege
* week 7. Gele kleuren zijn geleend van fontshop.com
*
*/
/* Basis layout voor alle voorbeelden */
*,html {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	background: url(../pics/bg.png) #666666;
}

h1,h2,p {
	margin-bottom: 10px;
}

div#wrapper {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background: #e6e6e6;
}

div#header {
	width: 700px;
	height: 100px;
	background: #ffde00;
}

div#header h1 {
	width: 200px;
	height: 100px;
	background: #000000;
	color: #ffffff;
	line-height: 100px;
	text-align: center;
}

div#menu {
	width: 700px;
	height: 30px;
	background: #ffef4d;
	text-align: center;
}

div#menu ul {
	list-style: none;
}

div#menu ul li {
	display: inline;
}

div#menu ul li a {
	display: block;
	float: left;
	width: 175px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

div#menu ul li a:hover {
	background: #ffde00;
	text-decoration: underline;
}

div#content {
	padding: 10px;
}

div#footer {
	height: 30px;
	line-height: 30px;
	background: #ffef4d;
	text-align: center;
}
