
p {
    font-size: 2em;
}

/* tag selector */
h1 {
    color: magenta !important;
}

/* id selector */
p#inleiding {
    color: pink;
}

/* class selector */
p.inleiding {
    color: pink;
}

a {
    color: red;
    font-size: 2em;
}

/* pseudo-class */
a:link {

}
a:visited {

}
a:hover {
    color: green;
}
a:active {

}

/* meerdere */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', Lucida, sans-serif;
}

/* afstammeling, descendant */
main p {

}

nav ul li a {

}





