/* *************************
 * GENERAL STUFF
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
    margin:0;
    padding:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
/* START DEMO */
#wrapper {

	width:500px;
	margin:auto;
}
header {
	height:100px;
	background-color:red;
}
article {
	padding:10px;
	border:1px solid black;
	float:left;
	width:268px;
	background-color:silver;
	margin-right:10px;
}
aside {
	padding:10px;
	border: 1px solid black;
	float:right;
	width:178px;
	background-color: orange;
}