div#percentages {
	width:80%;
	border:thin solid black;
	margin:1%;
}
div#pixels {
	width: 500px;
	border:1px solid black;
	margin:10px;
}
div#em {
	width:20em;
	border:0.1em solid black;
	margin:1em;
}
/*
body {
	font-size:40px;
}
*/