/* tag-type */
h1 {
	color: #ff0000;
	border-radius: 10px;
	font-family: 'Krona One', sans-serif;
}

p {
	font-family: 'Alegreya', serif;
}


/* meerdere tag-types */
h1, p {
	background: #00ff00;
}

/* id */
#first {
	color: #0000ff;
}

/* classy */
.other {
	background: silver;
}

/* pseudo-class */
a:hover {
	background: tomato;
}

/* descendant/ afstammeling */
header h1 {
	font-size: 30px;
}
