* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: url(../pics/small_steps.png) 100px 500px no-repeat;
}
header {
  -webkit-transform: rotate(-180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(-180deg);  /* IE 9 */
          transform: rotate(-180deg);  /* Firefox 16+, IE 10+, Opera */
}
nav {
	float: left;
}
nav ul li a {
	margin: .2em;
	background: red;
	width: 10em;
	height: 2em;
	display: block;
}

div {
	width: 40em;
	height: 10em;
	margin: 0 auto;
	background: grey;
}

article {
	width: 20em;
	height: 10em;
	background: goldenrod;
	border: pink 2em groove;
	padding: 1em;
	float: right;
	text-align: justify;

}

footer {
	clear: both;
}