/* *************************
 * GENERAL STUFF
 ***************************/
 /* a little resetting of the browswer stylesheet */
* {
    margin:0;
    padding:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
#wrapper {
	width:500px;
	margin:auto;
}
header {
	height: 150px;
	background-color: red;
}
article {
	background-color: silver;
	width: 300px;
	float:left;
	border:1px solid black;
	margin-top:10px;
	margin-right:10px;
	padding:10px;
}
aside {
	background-color:orange;
	width:200px;
	float:right;
	border:1px solid black;
	margin-top:10px;
	padding:10px;
}