/* Stylesheet */

*, html {
	margin: 0px; padding: 0px; border: 0px;
}

div#wrapper {
	width: 40em;
	background: url(bg.jpeg) top left repeat;
	margin-right: auto;
	margin-left: auto;
	border-left: 1em #c2c2c2 solid;
	border-right: 1em #c2c2c2 solid;
}

header {
	height: 5em;
	line-height: 5em;
}

header h1 {
	margin-left: 1em;
}

nav ul {
	list-style: none;
	height: 2em;
	margin-left: 2.5em;
}

nav ul li {
	display: inline;
}

nav ul li a {
	display: block;
	float: left;
	width: 8em;
	margin-right: 1em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-radius: .5em;
	border: 1px solid #000000;
}

nav ul li a:hover {
	background: goldenrod;
}

article {
	margin-top: 2em;
	padding: .5em;
}

article h1 {
	margin-bottom: 1em;
}

article blockquote {
	margin-left: 3em;
	font-style: italic;
	margin-bottom: 1em;
}

article p {
	margin-bottom: 1em;
	width: 19.25em;
	float: left;
}

article p#firstParagraph {
	margin-right: .5em;
}




